{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles2.css' %}">
    <title>Article-List</title>
</head>
<body>
    <div class="wrapper">
                <h1><a href="{% url 'index' %}"></a></h1>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                            <li>
                                <form action="{% url 'accounts:accounts_logout' %}" method="post" class="logout-link">
                                    {% csrf_token %}
                                    <button type="submit">Logout</button>
                                </form>
                            </li>
                            <li><a href="#" class="highlight">New Article</a></li>
                            <li><a href="{% url 'index' %}">Home</a></li>
                        {% else %}
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'accounts:accounts_login' %}">Login</a></li>
                            <li><a href="{% url 'accounts:signup'%}">Signup</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% block content %}

                {% endblock %}
    </div>
</body>
</html>